/dist/
build/
/nbproject/
/build.xml
.project
.classpath
.settings/

/Processes/nbproject/private/
Services/build/web/WEB-INF/classes/soen487/wscat/parser/DocumentParser.class
/Applications/nbproject/private/
/Applications/src/jbiServiceUnits/
/Applications/dist/
/Applications/test/results/
/WSCat-Analyze/nbproject/private/
/Processes copy/nbproject/private/
/AnalyzeProcess/nbproject/private/
/TrainProcess/nbproject/private/
/WSCat-Logger/nbproject/private/
/WSCat-Logger/dist/
/Services/dist/