/dist/
build/
/nbproject/
/build.xml
.project
.classpath
.settings/

/Processes/nbproject/private/
Services/build/web/WEB-INF/classes/soen487/wscat/parser/DocumentParser.class
/Applications/nbproject/private/
/Applications/src/jbiServiceUnits/
/Applications/dist/
/Applications/test/results/